
input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 27px 12px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.text-area:focus{
    border: 2px solid #26aca767;
    outline: none;
    appearance: none;
}

.img_section{
    border: 10px solid black;
}

label{
    color: #121212;
}

.text-area{
    width: 100%;
    height: 100px;
    outline: none;
    padding: 7px 12px;
    font-size: 1rem;
    border-radius: 7px;
    border:1px solid rgb(185, 185, 185)
}
